.glove-container(ng-controller="NavbarCtrl")
  glove(name="Works" ui-sref="allWorks" ng-class="isRouteActive('works')" ng-click="setActive('works')")
  glove(name="Statement" ui-sref="statement" ng-class="isRouteActive('statement')" ng-click="setActive('statement')")
  glove(name="Bio" ui-sref="bio" ng-class="isRouteActive('bio')" ng-click="setActive('bio')")
  glove(name="Contact" ui-sref="contact" ng-class="isRouteActive('contact')")