.glove-container(ng-controller="NavbarCtrl")
  glove(name="Works" ng-class="isRouteActive('works')")
  glove(name="Statement" ng-class="isRouteActive('statement')")
  glove(name="Bio" ng-class="isRouteActive('bio')")
  glove(name="Contact" ng-class="isRouteActive('contact')")