div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  .glove#contact(ui-sref="contact" ui-sref-active="active")
    | Contact
  .glove#bio(ui-sref="bio" ui-sref-active="active")
    | Bio
  .glove#statement(ui-sref="statement" ui-sref-active="active")
    | Statement
  .glove#works(ui-sref="works" ui-sref-active="active")
    | Works
  .glove(ui-sref="main" ui-sref-active="active")
    | Main