.glove-container(ng-controller="NavbarCtrl")
  glove(name="Works" ng-class="isRouteActive('works')" image="assets/images/red_glove.png")
  glove(name="Statement" ng-class="isRouteActive('statement')" image="assets/images/yellow_glove.png")
  //- h1 Statement
  glove(name="Bio" text="Bio + More" ng-class="isRouteActive('bio')" image="assets/images/green_glove.png")
  glove(name="Contact" ng-class="isRouteActive('contact')" image="assets/images/brown_glove.png")