info-box(name="Bio")
  pre.
    Born Buffalo, NY, 1990
    Lives and works in Pilsen, Chicago, IL

    Education

    BA with honors in Visual Arts, University of Chicago, Chicago, IL, 2012
    Deep Springs College, Deep Springs, CA, 2008-2010

    Group Shows

    Art Jocks, Church of Templehead, Chicago, IL, Fall 2014
    PornAgain, Bijou Theatre, Chicago IL, Fall 2014
    PR3MIUM ÖPT!ONZ., Mana Contemporary. Chicago, IL. Winter 2013
    The Great Refusal: Taking on New Queer Aesthetics, Sullivan Galleries at the School of the Art Institute of Chicago, Chicago, IL, Fall 2012
    something to press up against, BA thesis exhibition, Logan Center Gallery at the University of Chicago, Chicago, IL, Summer 2012
    Den, Studio 411, Provincetown, MA, Summer 2012
    Origins, South Side Hub of Production, Chicago, IL, Fall 2011

    Grants and Awards

    Student Fine Arts Fund grant recipient, 2011
    Festival of the Arts at the University of Chicago grant recipient, 2012
    Louis Sudler Prize in the Performing and Creative Arts recipient, 2012

    Press and Reviews

    Hyper Allergic
    New City
    Time Out Chicago
    Chicago Maroon