<div ng-include='"components/navbar/navbar.html"'></div>

info-box(name="Bio")
    p.light Born Buffalo, NY, 1990
    p.light Lives and works in Pilsen, Chicago, IL

    article.group
        h5 Education
        p.light BA with honors in Visual Arts, University of Chicago, Chicago, IL, 2012
        p.light Deep Springs College, Deep Springs, CA, 2008-2010

    article.group
        h5 Group Shows
        p.light Art Jocks, Church of Templehead, Chicago, IL, Fall 2014
        p.light PornAgain, Bijou Theatre, Chicago IL, Fall 2014
        p.light PR3MIUM ÖPT!ONZ., Mana Contemporary. Chicago, IL. Winter 2013
        p.light The Great Refusal: Taking on New Queer Aesthetics, Sullivan Galleries at the School of the Art Institute of Chicago, Chicago, IL, Fall 2012
        p.light something to press up against, BA thesis exhibition, Logan Center Gallery at the University of Chicago, Chicago, IL, Summer 2012
        p.light Den, Studio 411, Provincetown, MA, Summer 2012
        p.light Origins, South Side Hub of Production, Chicago, IL, Fall 2011

    article.group
        h5 Grants and Awards
        p.light Student Fine Arts Fund grant recipient, 2011
        p.light Festival of the Arts at the University of Chicago grant recipient, 2012
        p.light Louis Sudler Prize in the Performing and Creative Arts recipient, 2012

    article.group
        h5 Press and Reviews
        p.light Hyper Allergic
        p.light New City
        p.light Time Out Chicago
        p.light Chicago Maroon