.grid.glovebox
  glove.active.col-1-1(name="Contact" image="assets/images/brown_glove.png")
info-box(name="Contact")
  p.light david.nasca.art@gmail.com
  p.light Studio visits in Pilsen, Chicago by appointment