.glove-container
  glove.home(name="Works" ng-class="isRouteActive('works')" image="assets/images/gloves/redglove_works.png")
  glove.home(name="Statement" ng-class="isRouteActive('statement')" image="assets/images/gloves/yellowglove_statement.png")
  glove.home(name="Bio" text="Bio + More" ng-class="isRouteActive('bio')" image="assets/images/gloves/greenglove_bio.png")
  glove.home(name="Contact" ng-class="isRouteActive('contact')" image="assets/images/gloves/brownglove_contact.png")