/////////////////// Mixins

$slide-out-poz: 1000px;
$slide-out-neg: -1000px;

@include keyframes(slideOutUpLeft) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-neg, $slide-out-neg);}
}

@include keyframes(slideOutUpRight) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-poz, $slide-out-neg);}
}

@include keyframes(slideOutBottomLeft) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-neg, $slide-out-poz);}
}

@include keyframes(slideOutBottomRight) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-poz, $slide-out-poz);}
}

@include keyframes(slideInUpLeft) {
  0% {opacity: 0; transform: translate($slide-out-neg, $slide-out-neg);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@include keyframes(slideInUpRight) {
  0% {opacity: 0; transform: translate($slide-out-poz, $slide-out-neg);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@include keyframes(slideInBottomLeft) {
  0% {opacity: 0; transform: translate($slide-out-neg, $slide-out-poz);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@include keyframes(slideInBottomRight) {
  0% {opacity: 0; transform: translate($slide-out-poz, $slide-out-poz);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@mixin slideOutUpLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutUpLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideOutUpRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutUpRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideOutBottomLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutBottomLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideOutBottomRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutBottomRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInUpLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInUpLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInUpRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInUpRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInBottomLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInBottomLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInBottomRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInBottomRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

// @mixin pane-resize-add {
//   &.pane-resize, &.pane-resize-add.pane-resize-add-active {
//     z-index: 900;
//     @content
//   }
// }

// @mixin pane-resize-remove {
//   &.pane-resize-remove.pane-resize-remove-active {
//     z-index: 0;
//     @content
//   }
// }

@mixin cubic-bezier($time) {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
}

@mixin quadrant($y, $x) {
  @if $y == 'top' {
    top: 0;
  } @else if $y == 'bottom' {
    bottom: 0;
  }
  @if $x == 'left' {
    left: 0;
  } @else if $x == 'right' {
    right: 0;
  }
}

@mixin image-quadrant($pos) {
  @if $pos == 'top left' {
    img {
      @include quadrant('top', 'left');
      transform-origin: left 50%;
      // @include media(680px) { transform: translate(-10%, -70%) rotate(40deg); }
      @include media(680px) { transform: translateY(-50%) rotate(40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(0, 0); }
    }
  } @else if $pos == 'top right' {
    &.home img {
      @include quadrant('top', 'right');
      transform-origin: right 50%;
      // @include media(680px) { transform: translateY(-80%) rotate(-40deg); }
      @include media(680px) { transform: translate(-5%, -65%) rotate(-40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(30%, 0); }
    }
  } @else if $pos == 'bottom left' {
    img {
      @include quadrant('bottom', 'left');
      transform-origin: bottom left;
      // @include media(680px) { transform: translateY(50%) rotate(-40deg); }
      @include media(680px) { transform: translate(12%, 35%) rotate(-40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(-10%, 0); }
    }
  } @else if $pos == 'bottom right' {
    img {
      @include quadrant('bottom', 'right');
      transform-origin: 80% 150%;
      // @include media(680px) { transform: translateY(50%) rotate(40deg); }
      @include media(680px) { transform: translate(-15%, -22%) rotate(40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(0, 0); }
    }
  }
}

/////////////////// Main Styles

#masterUI {
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  &.ng-leave{
    glove.home {
      &[name="Works"] { @include slideOutUpRight(1s); }
      &[name="Contact"] { @include slideOutBottomRight(1s); }
      &[name="Statement"] { @include slideOutUpLeft(1s); }
      &[name="Bio"] { @include slideOutBottomLeft(1s); }
      @include media($smallDevice) {
        &[name="Works"], &[name="Contact"]  { @include slideOutRight(1.2s); }
        &[name="Bio"], &[name="Statement"] { @include slideOutLeft(1.2s); }
      }
    }
    glove.active {
      &[name="Works"] { @include slideOutRight(1s); }
      &[name="Contact"] { @include slideOutRight(1s); }
      &[name="Statement"] { @include slideOutLeft(1s); }
      &[name="Bio"] { @include slideOutLeft(1s); }
    }
    h1.main {
      @include slideOutUp(1s);
    }
  }
  &.ng-enter {
    glove.active {
      &[name="Works"] { @include slideInRight(1s); }
      &[name="Contact"] { @include slideInRight(1s); }
      &[name="Statement"] { @include slideInLeft(1s); }
      &[name="Bio"] { @include slideInLeft(1s); }
    }
    glove.home {
      &[name="Works"] { @include slideInUpRight(1s); }
      &[name="Contact"] { @include slideInBottomRight(1s); }
      &[name="Statement"] { @include slideInUpLeft(1s); }
      &[name="Bio"] { @include slideInBottomLeft(1s); }
      @include media($smallDevice) {
        &[name="Works"], &[name="Contact"]  { @include slideInRight(1s); }
        &[name="Bio"], &[name="Statement"] { @include slideInLeft(1s); }
      }
    }
    h1.main {
      @include slideInDown(1s);
    }
  }
}

h1.main {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5%;
  // left: 50%;
  // transform: translate(-50%, 0);
  font-family: $glove-font;
  color: $glove-font-color;
  font-size: 4rem;
  @include media(max-width 536px) {
    font-size: 3.5rem;
    top: 2%;
  }
}

/////////////////// Gloves
glove {
  @include clearfix;
  position: absolute;

  &.active {
    .title {
      span {
        font-size: 3.4vw;
        font-family: $glove-font;
        color: $glove-font-color;
      }
      span.heading:before { content: ' '; }
      .buttons i {
        color: $button-color;
        &:hover {
          color: $button-hover-color;
        }
      }
    }
    &[name="Works"] { span.heading { color: $works-font-color; } }
    &[name="Statement"] { span.heading { color: $statement-font-color; } }
    &[name="Contact"] { span.heading { color: $contact-font-color; } }
    &[name="Bio"] { span.heading { color: $bio-font-color; } }
  }

  &.home {
    cursor: pointer;
    .title {
      display: none;
    }
  }
  img { position: absolute; }

  @include media(681px) {
    &.inactive {
      display: none;
    }
    &.home {
      width: 50vw;
      height: 50vh;
      &.inactive-remove {
        &[name="Works"] {
          @include slideInUpRight(1s);
        }
        &[name="Contact"] {
          @include slideInBottomRight(1s);
        }
        &[name="Statement"] {
          @include slideInUpLeft(1s);
        }
        &[name="Bio"] {
          @include slideInBottomLeft(1s);
        }
      }
      &[name="Works"] {
        @include quadrant('top', 'right');
        @include image-quadrant('top right');
      }
      &[name="Contact"] {
        @include quadrant('bottom', 'right');
        @include image-quadrant('bottom right');
      }
      &[name="Statement"] {
        @include quadrant('top', 'left');
        @include image-quadrant('top left');
      }
      &[name="Bio"] {
        @include quadrant('bottom', 'left');
        @include image-quadrant('bottom left');
      }
      img {
        max-width: 150%;
      }
    }
    .title, img {
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    &.active {
      width: $gloveBoxW;
      height: $gloveBoxH;
      min-height: 130px;
      top: 0;
      .title { width: 50%; }
      .title-container {
        width: 80%;
        margin: 0 auto;
        display: inline-block;
      }
      img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 40%;
      }
      &[name="Statement"], &[name="Bio"] {
        img { left: 0; }
        .title {
          right: 12%;
          text-align: right;
        }
      }
      &[name="Contact"], &[name="Works"] {
        img { right: 0; }
        .title {
          text-align: left;
          left: 12%;
        }
      }
    }
  }

  @include media($smallDevice) {
    // position: fixed;
    width: $gloveMobileMainW;
    height: $gloveMobileMainH;
    h1, i {
      // position: absolute;
    }

    &.inactive {
      display: none;
    }
    &.active {
      height: $gloveMobileBoxH;
      top: 0;
      .title, img {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 100%;
      }
      .title {
        text-align: center;
        position: absolute;
        width: 100%;
        margin-top: 5%;
        // margin-left: 5%;
        // top: $gloveMobileBoxH + 5vh;
        span {
          font-size: 7vw;
        }
        .buttons {
          display: none;
          text-align: left;
          position: absolute;
          top: 50%;
          left: 3%;
          transform: translateY(-50%);
        }
      }
      img { display: none; }
      &[name="Statement"], &[name="Bio"] {
        // img { transform: translate(-30%, -50%); }
        img { left: 0; }
      }
      &[name="Contact"], &[name="Works"] {
        img { right: 0; }
      }
    }
    &.home {
      width: 100vw;
      img { max-width: 700px; }
      &[name="Statement"] { top: 0 }
      &[name="Works"] { top: 25% }
      &[name="Bio"] { top: 50% }
      &[name="Contact"] { top: 75% }
      &[name="Works"], &[name="Contact"]  {
        img { right: 0; }
      }
      &[name="Bio"], &[name="Statement"] {
        img { left: 0; }
      }
      &[name="Statement"] { img { transform: translate(-25%, 25%); } }
      &[name="Works"] { img { transform: translate(5%, 0); } }
      &[name="Bio"] { img { transform: translate(-15%, 0); } }
      &[name="Contact"] { img { transform: translate(5%, -15%); } }
      @include media(max-width 536px) {
        img { max-width: 580px; }
        &[name="Statement"] { img { transform: translate(-30%, 20%); } }
        &[name="Works"] { img { transform: translate(10%, -10%); } }
        &[name="Bio"] { img { transform: translate(-20%, -4%); } }
        &[name="Contact"] { img { transform: translate(10%, -9%); } }
      }
      // &[name="Works"], &[name="Contact"]  { transform: translateX(-20%) translateY(-20%); }
      // &[name="Bio"], &[name="Statement"] { transform: translateX(-30%) translateY(-10%); }
    }
  }
}

// .glove-container {
//   @include clearfix;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1000;
// }