glove.home(name="Works" image="assets/images/gloves/redglove_works.png")
glove.home(name="Statement" image="assets/images/gloves/yellowglove_statement.png")
glove.home(name="Bio" text="Bio + More" image="assets/images/gloves/greenglove_bio.png")
glove.home(name="Contact" image="assets/images/gloves/brownglove_contact.png")
h1.main DAVID NASCA