/////////////////// Mixins

$slide-out-poz: 1000px;
$slide-out-neg: -1000px;

@include keyframes(slideOutUpLeft) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-neg, $slide-out-neg);}
}

@include keyframes(slideOutUpRight) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-poz, $slide-out-neg);}
}

@include keyframes(slideOutBottomLeft) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-neg, $slide-out-poz);}
}

@include keyframes(slideOutBottomRight) {
  0% {transform: translate(0, 0);}
  100% {opacity: 0; transform: translate($slide-out-poz, $slide-out-poz);}
}

@include keyframes(slideInUpLeft) {
  0% {opacity: 0; transform: translate($slide-out-neg, $slide-out-neg);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@include keyframes(slideInUpRight) {
  0% {opacity: 0; transform: translate($slide-out-poz, $slide-out-neg);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@include keyframes(slideInBottomLeft) {
  0% {opacity: 0; transform: translate($slide-out-neg, $slide-out-poz);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@include keyframes(slideInBottomRight) {
  0% {opacity: 0; transform: translate($slide-out-poz, $slide-out-poz);}
  100% {opacity: 100; transform: translate(0, 0);}
}

@mixin slideOutUpLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutUpLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideOutUpRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutUpRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideOutBottomLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutBottomLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideOutBottomRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideOutBottomRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInUpLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInUpLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInUpRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInUpRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInBottomLeft($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInBottomLeft);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin slideInBottomRight($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideInBottomRight);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@mixin cubic-bezier($time) {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) $time;
}

@mixin quadrant($y, $x) {
  @if $y == 'top' {
    top: 0;
  } @else if $y == 'bottom' {
    bottom: 0;
  }
  @if $x == 'left' {
    left: 0;
  } @else if $x == 'right' {
    right: 0;
  }
}

@mixin image-quadrant($pos) {
  @if $pos == 'top left' {
    img {
      @include quadrant('top', 'left');
      transform-origin: left 50%;
      // @include media(680px) { transform: translate(-10%, -70%) rotate(40deg); }
      @include media(680px) { transform: translateY(-50%) rotate(40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(0, 0); }
    }
  } @else if $pos == 'top right' {
    &.home img {
      @include quadrant('top', 'right');
      transform-origin: right 50%;
      // @include media(680px) { transform: translateY(-80%) rotate(-40deg); }
      @include media(680px) { transform: translate(-5%, -65%) rotate(-40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(30%, 0); }
    }
  } @else if $pos == 'bottom left' {
    img {
      @include quadrant('bottom', 'left');
      transform-origin: bottom left;
      // @include media(680px) { transform: translateY(50%) rotate(-40deg); }
      @include media(680px) { transform: translate(12%, 35%) rotate(-40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(-10%, 0); }
    }
  } @else if $pos == 'bottom right' {
    img {
      @include quadrant('bottom', 'right');
      transform-origin: 80% 150%;
      // @include media(680px) { transform: translateY(50%) rotate(40deg); }
      @include media(680px) { transform: translate(-15%, -22%) rotate(40deg); }
    }
    &.active img {
      @include media(680px) { transform: translate(0, 0); }
    }
  }
}

/////////////////// Main Styles

h1.main {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5%;
  // left: 50%;
  // transform: translate(-50%, 0);
  font-family: $glove-font;
  color: $glove-font-color;
  font-size: 4rem;
  @include media(max-width 536px) {
    font-size: 3.5rem;
    top: 2%;
  }
}

.glovebox {
  @extend .grid;
  @extend .no-max;
  width: 90%;
}

/////////////////// Gloves
glove {
  @include clearfix;
  position: relative;

  &.active {
    .title {
      span {
        font-size: 2rem;
        font-family: $glove-font;
        color: $glove-font-color;
      }
      span.heading:before { content: ' '; }
      .buttons i {
        color: $button-color;
        &:hover {
          color: $button-hover-color;
        }
      }
    }
    &[name="Works"] { span.heading { color: $works-font-color; } }
    &[name="Statement"] { span.heading { color: $statement-font-color; } }
    &[name="Contact"] { span.heading { color: $contact-font-color; } }
    &[name="Bio"] { span.heading { color: $bio-font-color; } }
  }

  &.home {
    position: absolute;
    cursor: pointer;
    .title {
      display: none;
    }
  }
  img { position: absolute; }

  @include media(768px) {
    &.inactive {
      display: none;
    }
    &.home {
      width: 50vw;
      height: 50vh;
      &.inactive-remove {
        &[name="Works"] {
          @include slideInUpRight(1s);
        }
        &[name="Contact"] {
          @include slideInBottomRight(1s);
        }
        &[name="Statement"] {
          @include slideInUpLeft(1s);
        }
        &[name="Bio"] {
          @include slideInBottomLeft(1s);
        }
      }
      &[name="Works"] {
        @include quadrant('top', 'right');
        @include image-quadrant('top right');
      }
      &[name="Contact"] {
        @include quadrant('bottom', 'right');
        @include image-quadrant('bottom right');
      }
      &[name="Statement"] {
        @include quadrant('top', 'left');
        @include image-quadrant('top left');
      }
      &[name="Bio"] {
        @include quadrant('bottom', 'left');
        @include image-quadrant('bottom left');
      }
      img {
        max-width: 140%;
      }
    }
    .title, img {
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    &.active {
      width: $gloveBoxW;
      height: $gloveBoxH;
      min-height: 130px;
      top: 0;
      // .title { width: 50%; }
      img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 40%;
      }
      &[name="Statement"], &[name="Bio"] {
        img { left: 0; }
        .title {
          right: 7%;
          text-align: right;
        }
      }
      &[name="Contact"], &[name="Works"] {
        img { right: 0; }
        .title {
          text-align: left;
          left: 7%;
        }
      }
    }
  }

  @include media($smallDevice) {
    // position: fixed;
    width: $gloveMobileMainW;
    height: $gloveMobileMainH;
    .buttons { display: none; }

    &.inactive {
      display: none;
    }
    &.active {
      .title {
        text-align: center;
        span { font-size: 2rem; }
      }
      img { display: none; }
    }
    &.home {
      width: 100vw;
      img { max-width: 130%; max-height: 20vh; }
      &[name='Works'], &[name='Contact'] { img { right: 0; } }
      &[name='Works'] {  top: 12vh; }
      &[name='Statement'] {  top: 35vh; }
      &[name='Contact'] {  top: 55vh; }
      &[name='Bio'] {  top: 75vh; }
    }
  }
}

// .glove-container {
//   @include clearfix;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1000;
// }