main.test
  glove(name="Contact" ui-sref="contact" ng-class="isActive('contact')" ng-click="setActive('contact')")
  glove(name="Bio" ui-sref="bio" ng-class="isActive('bio')" ng-click="setActive('bio')")
  glove(name="Statement" ui-sref="statement" ng-class="isActive('statement')" ng-click="setActive('statement')")
  glove(name="Works" ui-sref="works" ng-class="isActive('works')" ng-click="setActive('works')")