img.glove_img(src="{{ image }}")
.title
  span DAVID NASCA
  span.heading {{ text || name.toUpperCase() }}
  .buttons
    i.icon-rewind-outline(ui-sref="main")
    i.icon-play-outline(ui-sref="works" ng-if="backbutton")