img.glove_img(src="{{ image }}" ui-sref="{{ name.toLowerCase() }}")
.title
  span DAVID NASCA
  span.heading {{ text || name.toUpperCase() }}
  .buttons
    i.fa.fa-fast-backward.fa-fw(ui-sref="main")
    i.fa.fa-step-backward.fa-fw(ui-sref="works" ng-if="backbutton")