.glovebox
  glove.active.col-1-1(name="Works" image="assets/images/red_glove.png")
.worksbox
  .gallery
    .work(ng-animate="'animate'" ng-repeat="work in works | orderBy: 'num' | filter:{hidden:showHidden}" ui-sref="viewWorks({id: work._id})").col-1-3
      .thumb(style="background-image: url('{{ work.photoThumb }}')")
        .hoverTitle
          .title {{ work.title }}
  .expand.col-1-1(ng-show="showHidden!==''")
    span Show More
    i.icon-right-open-outline.down(ng-click="showHidden=''")
  .expand.col-1-1(ng-show="showHidden===''")
    span Hide
    i.icon-right-open-outline.up(ng-click="showHidden='false'")
  footer
    small &copy 2014 David Nasca