.glove-container
  glove.active(name="Works" image="assets/images/red_glove.png")

info-box(name="Works")
  .gallery
    .work(ng-repeat="work in works" ui-sref="viewWorks({id: work._id})")
      //- a(ui-sref="viewWorks({id: work._id})")
      .thumb(style="background-image: url('{{ work.photo_thumb }}')")
      .hoverTitle
        .title {{ work.title }}
    .work(ng-click="loadHidden()")
      //- a(ui-sref="viewWorks({id: work._id})")
      .thumb(style="background-image: url('=')")
      .hoverTitle
        .title {{ work.title }}