
//- info-box(name="Works")
.grid
  //- .glovebox.col-1-1
  glove.active.col-1-1(name="Works" image="assets/images/red_glove.png")
.worksbox
  .gallery.grid.grid-pad
    .work(ng-repeat="work in works" ui-sref="viewWorks({id: work._id})").col-1-3
      //- a(ui-sref="viewWorks({id: work._id})")
      .thumb(style="background-image: url('{{ work.photoThumb }}')")
        .hoverTitle
          .title {{ work.title }}
    .work(ng-click="showHidden=true" ng-show="!showHidden").col-1-3
      //- a(ui-sref="viewWorks({id: work._id})")
      .thumb(style="background-image: url('=')")
        .hoverTitle
          .title Show Extra
    .work(ng-repeat="work in hidden" ng-show="showHidden")
      .thumb(style="background-image: url('{{ work.photoThumb }}')")
      .hoverTitle
        .title {{ work.title }}
    .work(ng-click="showHidden=false" ng-show="showHidden")
      //- a(ui-sref="viewWorks({id: work._id})")
      .thumb(style="background-image: url('=')")
      .hoverTitle
        .title Hide Extra