.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  .work {
    cursor: pointer;
  }
}

.detail-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  .detail {
    cursor: pointer;
    width: 20vmin;
    background-color: black;
    .thumb {
      &:hover {
        opacity: .8;
      }
      &.selected {
        opacity: .6;
      }
    }
  }
}

.display {
  @include clearfix;
  margin-bottom: 2rem;
  max-height: 50vh;
  img, .wall-text {
    width: 50%;
    display: inline-block;
  }
  .wall-text {
    float: right;
    padding-left: 1rem;
  }
  img {
    float: left;
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 50vh;
    cursor: pointer;
  }
}

.work, .large {
  // background-color: blue;
  position: relative;
  overflow: hidden;
  margin-top: .8rem;
  width: 31%;
  @include media($mediumDevice) {
    width: 48%;
  }
  @include media($smallDevice) {
    width: 90%;
  }
  .hoverTitle {
    font-size: 3rem;
    background: none;
    position: absolute;
    top: 0;
    padding: 0.5rem;
    z-index: 100;
    display: none;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgba(121, 125, 122, 0.5);
    .title {
      text-align: center;
      position: absolute;
      top: 50%;
      width: 100%;
      color: white;
      transform: translateY(-50%);
    }
  }
  &:hover .hoverTitle {
    display: block;
  }
}

.thumb {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center center;
  // max-width: 100%;
}