//- glove(name="{{ name }}")
.box
  //- .title
  //-   h3 {{ name }}
  //-   i.fa.fa-arrow-left.fa-fw(ng-click="close()" ui-sref="main")
  //- box-banner(name="{{ name }}")
  .info(ng-transclude)
  footer
    small &copy 2014 David Nasca
