info-box {
  @include clearfix;
  .box {
    @include fill-parent;
    width: 80%;
    margin: 0 auto;
    margin-top: $gloveBoxH;
    height: 100vh - $gloveBoxH;
    overflow-y: scroll;
    @include media($mediumDevice) {
      padding: 0 1rem;
    }
    @include media($smallDevice) {
      width: 90%;
      padding: 0;
      margin-top: $gloveMobileBoxH;
      height: 100vh - $gloveMobileBoxH;
    }
  }

  &.two-cols .info {
    @include media($xlScreen) {
      @include column-width(22rem);
      @include column-gap(5rem);
      @include column-count(2);
    }
  }

  .info {
    @include clearfix;
    width: 100%;
    @include media($smallDevice) {
      padding: 0;
    }
  }

  .group {
    margin: 1rem 0;
  }

  p.light {
    margin: 0;
    padding-left: 1rem;
    text-indent: -1rem;
  }

  p.block {
    line-height: 2rem;
    margin: 0 0 1.5rem
  }

  footer {
    position: relative;
    top: 2rem;
    :last-child {
      float: right;
    }
    :first-child {
      float: left;
    }
  }
}

#masterUI.ng-enter {
  .box {
    @include zoomIn(1s);
  }
}

#masterUI.ng-leave {
  .box {
    @include zoomOut(1s);
  }
}

.test .content {
  background: #ccc;
  padding: 30px;
}
.test {
  width: 90%;
  // display: inline-block;
  margin: 0 auto;
  div {
    border: 1px solid black;
  }
  .grid {
  }
}