//- glove(name="{{ name }}")
.box.grid.grid-pad
  //- .title
  //-   h3 {{ name }}
  //-   i.fa.fa-arrow-left.fa-fw(ng-click="close()" ui-sref="main")
  //- box-banner(name="{{ name }}")
  .info(ng-transclude).col-1-1
  footer.col-1-1
    small &copy 2014 David Nasca
    small Site built by Pete Brooks