info-box {


  // .box {
  //   margin-top: 5%;
  //   @include media(max-width 760px) {
  //   }
  //   @include media(max-width 460px) {
  //     padding: 1rem;
  //   }
  // }


  .box {
    width: 80%;
    margin: 0 auto;
    margin-top: $gloveBoxH;
    // padding-bottom: 5vh;
    height: 100vh - $gloveBoxH;
    overflow-y: scroll;
    @include media($mediumDevice) {
      padding: 0 1rem;
    }
    @include media($smallDevice) {
      width: 90%;
      padding: 0;
      margin-top: $gloveMobileBoxH * 1.5;
      height: 100vh - $gloveMobileBoxH;
    }
  }

  // .title {
  //   width: 100%;
  //   display: inline-block;
  //   position: relative;
  //   h3 {
  //     font-family: $title-font;
  //     color: $title-font-color;
  //   }
  //   i {
  //     display: inline-block;
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
  //   }
  // }

  // &[name="Works"], &[name="Contact"] {
  //   h3 { float: right; }
  //   i { left: 0; }
  // }
  // &[name="Bio"], &[name="Statement"] {
  //   h3 { float: left; }
  //   i { right: 0; }
  // }

  &.two-cols .info {
    @include media($xlScreen) {
      @include column-width(22rem);
      @include column-gap(5rem);
      @include column-count(2);
    }
  }

  .info {
    @include clearfix;
    @include fill-parent;
    width: 100%;
    @include media($smallDevice) {
      padding: 0;
    }
  }

  .group {
    margin: 1rem 0;
  }

  p.light {
    margin: 0;
    padding-left: 1rem;
    text-indent: -1rem;
  }

  p.block {
    line-height: 2rem;
    margin: 0 0 1.5rem
  }
}

#masterUI.ng-enter {
  .box {
    @include zoomIn(1s);
  }
}

#masterUI.ng-leave {
  .box {
    @include zoomOut(1s);
  }
}